/* Import de la font syne */

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

body *, .uk-navbar-nav li a {
    font-family: 'Syne', sans-serif;
    width: 100%;
}

.hidden {
    display: none;
}

/* Header */

.uk-block {
    padding: 0 0;
}

.uk-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 0;
}

.tm-site-branding {
    width: 25%;
    padding: 10px;
}

.uk-navbar-nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.uk-navbar-nav li {
    width: fit-content;
}

.uk-navbar-nav li a {
    padding: 15px 50px;
    width: fit-content;
    height: 100%;
    font-size: 16px;
}

.uk-navbar-nav li:last-child a {
    background: #DC9F96;
    color: white;
}

.uk-navbar-nav li:last-child a:hover {
    background-color: #C02E44;
}


/* Footer */

#menu-footer {
    text-align: center;
    list-style: none;
    color: black;
    padding: 15px;
    font-size: 16px;
}

#menu-footer a {
    color: black;
}
