/* Import de la font syne */

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

body * {
    font-family: 'Syne', sans-serif;
    width: 100%;
}

.tm-main {
    background-color: #ffffff;
}

/* Header */

.uk-block {
    padding: 0 0;
}

.tm-header {
    border-bottom: none;
}

.uk-grid {
    margin: 0;
}

.uk-grid > * {
    padding: 0;
}

.uk-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 0;
    margin-bottom: 0;
}

.tm-site-branding {
    width: 25%;
    padding: 10px;
}

.uk-navbar-nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.uk-navbar-nav li {
    width: fit-content;
    display: flex;
    align-items: center;
}

.uk-navbar-nav li:nth-child(1) {
    order: 1;
}

#link-admin {
    order: 2;
}

.uk-navbar-nav li:nth-child(2) {
    order: 3;
}

.uk-navbar-nav li a {
    padding: 15px 50px;
    width: fit-content;
    height: 100%;
    font-size: 16px;
    line-height: 50px;
}

.uk-navbar-nav li:nth-child(2) a {
    background: #DC9F96;
    color: white;
}

.uk-navbar-nav li:nth-child(2) a:hover {
    background-color: #C02E44;
}



/* Footer */

.tm-footer {
    border-top: none;
}

#menu-footer {
    text-align: center;
    list-style: none;
    color: black;
    padding: 15px;
    font-size: 16px;
}

#menu-footer a {
    color: black;
}


/* Main */

.uk-container-center {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}


/* Formulaire de contact page d'accueil */

#wpcf7-f202-p14-o1 {
    background-image: url(../images/Group\ 16.png);
    background-repeat: no-repeat;
    background-position: 3% 94%;
    padding-left: 100px;
    padding-right: 100px;
}

.elementor *, .elementor :after, .elementor :before {
    box-sizing: content-box;
}

.wpcf7-form:last-child p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wpcf7-submit {
    border: none;
    background-color: #DC9F96;
    padding: 15px 40px;
    width: 40%;
}

.uk-form input, .uk-form select, .uk-form textarea {
    font-family: 'Syne', sans-serif;
    color: white;
}

.uk-form input[type="submit"] {
    border-radius: 8px;
}

.wpcf7-submit:hover {
    background-color: #C02E44;
}


/* Bordure page d'accueil */

.elementor-36 .elementor-element.elementor-element-1e075b7 > .elementor-shape-bottom svg {
    filter: drop-shadow(0px -3px 0px #e3d9d0);
    padding-top: 10px;
}


/* Formulaire page commander */

#wpcf7-f294-p16-o1 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.section-form {
    display: flex;
}

.section-form h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.div-informations, .div-livraison {
    margin: 40px 30px;
    color: white;
}

.div-livraison {
    border-left: 1px solid white;
    padding-left: 50px;
}

.uk-form input:not([type="input"]):not([type="checkbox"]), .uk-form select {
    margin-top: 15px;
    margin-bottom: 20px;
}

#wpcf7-f294-p16-o5 input[type="submit"] {
    width: 20%;
    padding: 20px 0;
}


/* Formulaire quantité */

.section-form-quantite {
    display: flex;
    align-items: flex-start;
}

.div-plus-minus p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
