/* Import de la font syne */

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

body * {
    font-family: 'Syne', sans-serif;
    width: 100%;
}

/* Header */

.uk-block {
    padding: 0 0;
}

.tm-header {
    border-bottom: none;
}

.uk-grid {
    margin: 0;
}

.uk-grid > * {
    padding: 0;
}

.uk-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 0;
    margin-bottom: 0;
}

.tm-site-branding {
    width: 25%;
    padding: 10px;
}

.uk-navbar-nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.uk-navbar-nav li {
    width: fit-content;
    display: flex;
    align-items: center;
}

.uk-navbar-nav li:nth-child(1) {
    order: 1;
}

#link-admin {
    order: 2;
}

.uk-navbar-nav li:nth-child(2) {
    order: 3;
}

.uk-navbar-nav li a {
    padding: 15px 50px;
    width: fit-content;
    height: 100%;
    font-size: 16px;
    line-height: 50px;
}

.uk-navbar-nav li:nth-child(2) a {
    background: #DC9F96;
    color: white;
}

.uk-navbar-nav li:nth-child(2) a:hover {
    background-color: #C02E44;
}



/* Footer */

.tm-footer {
    border-top: none;
}

#menu-footer {
    text-align: center;
    list-style: none;
    color: black;
    padding: 15px;
    font-size: 16px;
}

#menu-footer a {
    color: black;
}


/* Main */

.uk-container-center {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}


/* Formulaire de contact */

.wpcf7-form{
    background-image: url(../images/Group\ 16.png);
    background-repeat: no-repeat;
}


.wpcf7-form:last-child p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wpcf7-submit {
    border: none;
    background-color: #DC9F96;
    padding: 15px 40px;
    width: 40%;
}

.uk-form input[type="submit"] {
    border-radius: 8px;
}

.wpcf7-submit:hover {
    background-color: #C02E44;
}

/* Images fruits */

.inner-block a {
    width: 60%;
    line-height: 60px;
    overflow-wrap: break-word;
}